<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/user/home_render" class="navbar-brand me-auto">
            <img src="/static/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            ANASAYFA
        </a>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/doctor-list" class="nav-link">Doktor Listesi</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/randevu-create" class="nav-link">Randevu Al</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/randevu-list" class="nav-link">Randevularım</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/rapor-list" class="nav-link">Tıbbi Sonuçlarım</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/profile" class="nav-link">Profil</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/logout" class="nav-link">Çıkış Yap</a>
            </li>
        </ul>
    </div>
</nav>