<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Admin Anasayfa</title>
    <style>
        body {
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to right, #f0f0f0, #b5fcd8);
        }
        .custom-box {
            border: 3px solid purple; 
            padding: 20px;
            margin-bottom: 20px;
        }
        .custom-box .box-header {
            background-color: purple; 
            color: white;
            padding: 10px;
            font-size: 1.25rem;
            text-align: center;
        }
        .custom-box .box-content {
            padding: 10px;
            background-color: #f9f9f9; 
            height: 600px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .custom-box .box-content img{
            max-width: 40px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <%- include('../partials/admin/begining-header') %>
    <div class="container" style="margin-top: 80px;">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-box">
                    <div class="box-header">
                        Bildirimler
                    </div>
                    <div class="box-content">
                        <img src="/static/randevuyok.png">
                        Bildirimin Yok.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>