<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Admin Profili</title>
    <style>
        body {
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to right, #f0f0f0, #b5fcd8);
        }
    </style>
    
</head>
<body>
    <%- include('../partials/admin/begining-header') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h3>Admin Profili</h3>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 40px;">
                <div class="card" style="width: 20rem;">
                    <img src="/static/admin.png" class="card-img-top mx-auto" alt="admin icon" style="width: 50%; height: auto;">
                    <div class="card-body">
                      <h4 class="card-title"><%= kullaniciadi %></h4>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><strong>Id :</strong> <%= id %></li>
                    </ul>
                    <div class="card-body">
                        <a href="/admin/profile_update_render" class="btn btn-primary">Bilgilerini Güncelle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
