<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand me-auto">
            <img src="/static/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            ANASAYFA
        </a>
    </div>
</nav>