<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        .login-box {
            width: 300px;
            padding: 20px;
            border: 2px solid #ccc;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .login-box h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            font-weight: bold;
        }
        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .btn-login {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-register {
            text-align: center;
            color: #007bff;
            text-decoration: none;
            cursor: pointer;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-box">
                    <h2><%= kutu_baslik %></h2>
                    <form action="/user/login" method="POST">
                        <div class="form-group">
                            <label for="tcno">TC Kimlik No:</label>
                            <input type="text" id="tcno" name="tcno" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Şifre:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-login">Giriş</button>
                    </form>
                    <p class="btn-register"><a href="/doctor/register">Hesabınız yok mu? Kayıt olun</a></p>
                    <p class="btn-register"><a href="/">Başa Dön</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
