<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
    <style>
        body {
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to right, #f0f0f0, #b5fcd8);
        }
        .button-box {
            text-align: center;
            padding: 20px;
            border: 2px solid #ccc;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .button-box .btn {
            width: 200px;
            margin: 10px 0;
        }
        .welcome-message {
            margin-top: 200px;
            text-align: center;
            margin-bottom: 20px;
            font-size: 40px;
            color: #333;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand">ANASAYFA</a>
            <!-- <ul class="navbar-nav nav-right">
                <li class="nav-item">
                    <a href="" class="nav-link">ehehehe</a>
                </li>
            </ul> -->
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="welcome-message">eHastane Sistemi'ne Hoş Geldiniz</div>
                <div class="button-box">
                    <a class="btn btn-primary" href="/admin/login">Admin Girişi</a>
                    <a class="btn btn-primary" href="/doctor/login">Doktor Girişi</a>
                    <a class="btn btn-primary" href="/user/login">Kullanıcı Girişi</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>