<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand me-auto">ANASAYFA</a>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="" class="nav-link">Bakılacak Randevular</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="" class="nav-link">Profil</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="" class="nav-link">Çıkış Yap</a>
            </li>
        </ul>
    </div>
</nav>