<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/admin/home_render" class="navbar-brand me-auto">
            <img src="/static/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            ANASAYFA
        </a>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/hasta-create" class="nav-link">Hasta Ekleme</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/doctor-create" class="nav-link">Doktor Ekleme</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/randevu-create" class="nav-link">Randevu Ekleme</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="" class="nav-link">Tıbbi Rapor Ekleme</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/hasta-list" class="nav-link">Hasta Listesi</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/doctor-list" class="nav-link">Doktor Listesi</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/randevu-list" class="nav-link">Randevu Listesi</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="" class="nav-link">Tıbbi Rapor Listesi</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/profile" class="nav-link">Profil</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/admin/logout" class="nav-link">Çıkış Yap</a>
            </li>
        </ul>
    </div>
</nav>

